{# app/Resources/views/builder/app_data.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}
    <h1>Подготовка сборки data-контейнера для кода приложния</h1>

    {{ form_start(form) }}
    <p>
        <a href="{{ path('homepage') }}"><input type="button" value="Назад"></a>
        <input type="submit" value="Собрать образ">
    </p>
    <hr>

    {{ form_widget(form) }}
    {{ form_end(form) }}
{% endblock %}

{% block javascripts %}
    <script>
        var updateLinkedFields = function() {
            var $form = $(this).closest('form');
            var $project = $('#app_data_build_conf_project');
            var $type = $('#app_data_build_conf_type');
            var $env = $('#app_data_build_conf_env');
            var data = {};

            data[$project.attr('name')] = $project.val();
            data[$env.attr('name')] = $env.val();
            data[$type.attr('name')] = $type.val();

            $.ajax({
                url: $form.attr('action'),
                type: $form.attr('method'),
                data: data,
                success: function(html) {
                    $('#app_data_build_conf_mainConfig').replaceWith(
                        $(html).find('#app_data_build_conf_mainConfig')
                    );
                    $('#app_data_build_conf_consoleConfig').replaceWith(
                        $(html).find('#app_data_build_conf_consoleConfig')
                    );
                }
            });
        };

        $('#app_data_build_conf_type').change(updateLinkedFields);

        $('#app_data_build_conf_project').change(function() {
            var $form = $(this).closest('form');
            var data = {};

            data[$(this).attr('name')] = $(this).val();
            $.ajax({
                url: $form.attr('action'),
                type: $form.attr('method'),
                data: data,
                success: function(html) {
                    $('#app_data_build_conf_env').replaceWith(
                        $(html).find('#app_data_build_conf_env')
                    );
                    $('#app_data_build_conf_env').trigger('change');
                }
            });
        });

        $('#app_data_build_conf').on(
            'change',
            '#app_data_build_conf_env',
            updateLinkedFields
        );
    </script>
{% endblock %}