{# app/Resources/views/builder/log_data.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}
    <h1>Подготовка сборки</h1>

    {{ form_start(form) }}
    <p>
        <a href="{{ path('homepage') }}"><input type="button" value="Назад"></a>
        <input type="submit" value="Собрать образ">
    </p>
    <hr>

    {{ form_widget(form) }}
    {{ form_end(form) }}
{% endblock %}